.vim/
__pycache__/
checkpoint/*.model
checkpoint/*.npy
config/
exp/
dataset/dataset_tow
dataset/*.zip
dataset/*.txt
venv/
.venv/
Winvenv/
.idea/
backup/
.ipynb_checkpoints/
*.ipynb
*.zip
*.db
*.wav
dumpscript.py
